@model IEnumerable <ProductManagement.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading">
            Products
        </div>
        <div>
            <table class="table" data-filtering="true" data-paging="true" data-paging-size="8" ui-jq="footable">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.ProductName
                            </td>
                            <td>
                                <a class="btn m-b-xs btn-sm btn-info btn-addon" href="@Url.Action("AddOrder", "Order", new {@id = item.ProductID , @class = "btn m-b-xs btn-sm btn-info btn-addon"})">
                                    Order
                                </a>
                                <a class="btn m-b-xs btn-sm btn-danger btn-addon" href="@Url.Action("DeleteProduct", "Product", new {@id = item.ProductID , @class = "btn m-b-xs btn-sm btn-danger btn-addon"})">
                                    <i class="fa fa-trash-o"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

